transformers==4.47.0
accelerate==1.2.0
onnx==1.17.0
onnxruntime==1.19.2
ninja==1.11.1.2
numpy==2.0.2
nvidia-pyindex==1.0.9
ollama==0.4.4
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
bitsandbytes==0.45.0
cmake==3.31.1
datasets==3.1.0
colorama
termcolor
yaspin
evaluate
sacrebleu
pyngrok
# conda install pytorch torchvision torchaudio pytorch-cuda=12.4 -c pytorch -c nvidia

django
django-browser-reload
whitenoise
mysqlclient
db-sqlite3
django-widget-tweaks
livereload
clear_cache
django-debug-toolbar
pillow
django-cors-headers
django-livereload-server==0.5.0
django-livereload
django-simple-captcha
python-decouple
django_compressor
django-sass-processor
libsass
django_components
python-memcached
django-robots
django-htmlmin
django-amp-tools
django-watchman
googletrans
django-cachalot
django-clearcache