{% load website_tags %}
{% load i18n %}

<header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>Area 13</strong></a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="main-navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar">
                <div class="navbar-nav ms-auto">

                    {% if request.user.is_authenticated %}

                    {% if request.user.role == 'admin' or request.user.role == 'vendor' %}
                    <a href="/dashboard/">
                        <button class="btn btn-primary">Dashboard</button>
                    </a>
                    
                    {% else %}
                    <a href="{% url 'account_home' %}">
                        <button class="btn btn-primary">
                            Account
                        </button>
                    </a>
                    {% endif %}


                    {% else %}

                    <a href="{% url 'account_signup' %}">
                        <button class="btn btn-primary">Sign up</button>
                    </a>

                    <a href="{% url 'account_login' %}">
                        <button class="btn btn-primary">Login</button>
                    </a>
                    {% endif %}
                    
                    {% if request.user.role == 'customer' %}
                    <div class="nav-item">
                        <a href="{% url 'cart' %}" class="btn btn-dark position-relative">
                            <i class="bi bi-cart-fill"></i>
                            {% if cart %}
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ cart|length }}
                                <span class="visually-hidden">cart items</span>
                            </span>
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>

</header>