{% extends "base.html" %}


{% block head %}

    {% load static %}  <!-- Load static files like CSS, JS, images -->
    {% load widget_tweaks %}  <!-- Load widget tweaks for customizing form widgets -->
    {% load compress %}
    {% load i18n %}
    
    <meta name="robots" content="index, follow">  <!-- Instructions for web crawlers -->

    <!-- Page Head -->
    {% block page_head %}
    {% endblock page_head %}

{% endblock head %}


{% block css %}

    <!-- Page CSS -->
    {% block page_css %}
    {% endblock page_css %}

{% endblock css %}

<!-- Website JS -->
{% block js %}

    <!-- Page JS -->
    {% block page_js %}
    {% endblock page_js %}

{% endblock js %}

<!-- Website Body -->
{% block body%}

<div class="pages_container">

    <!-- Auth-Page: One view -->
    <div class="page-100">

        {% for message in messages %}
        <h1>{{ message }}</h1>
        {% endfor %}

        {% block page_body%}
        {% endblock page_body%}
    </div>

</div>

{% endblock body%}


<!-- Website DOM JS -->
{% block dom_js %}

    <!-- Page DOM JS-->
    {% block page_dom_js %}
    {% endblock page_dom_js %}

{% endblock dom_js %}

