{% extends "base/admin/admin.html" %}

<!-- Additional Data For Head -->
{% block page_head %}
{% load static %}

<title>Dashboard</title>

{% endblock page_head %}

<!-- Page Specific Local CSS Imports -->
{% block page_css %}

{% endblock page_css %}

<!-- Page Specific Local JavaScript Imports -->
{% block page_js %}

{% endblock page_js %}

{% block page_body %}

<h1>Transaction #{{ transaction.id }}</h1>

<p><strong>Order:</strong> {{ transaction.order.id }}</p>
<p><strong>Commission Amount:</strong> ${{ transaction.commission_amount }}</p>
<p><strong>Status:</strong> {{ transaction.status }}</p>
<p><strong>Created At:</strong> {{ transaction.created_at }}</p>

{% endblock page_body %}

{% block additional_dom_scripts %}

{% endblock additional_dom_scripts %}