$white: #ffffff;
$off-white: #f5f5f5;
$black: #000000;
$off-black: #1d1d1d;

//status colors
$success-color: #4CAF50;
$warning-color: #FF9800;
$danger-color: #F44336;

// Primary brand colors
$primary-color: #0066ff;          // used for highlights, buttons, etc.
$secondary-color: #844B9D;
$accent-color: #e91e63;           // optional

// Backgrounds
$primary-bg-color: #f5f5f5;                // page background
$secondary-bg-color: #ffffff;             // nav sidebar background
$bg-active-link: #F3F4F8;     // light background for active link

// Text
$primary-text-color: #171717; 
$secondary-text-color:#737373;          // darkest text
$text-muted: #999999;             // placeholder, captions

//sidebar
$primary-sidebar-text-color:#23272E;
$secondary-sidebar-text-color: #8B909A;         // less important text
$muted-sidebar-text-color:#8B909A;

// Borders / Lines
$border-color: #e0e0e0;

$primary-hover-color: #0058dc; 


//Table
$head-bg-color: #F8F9FA;

//pagination
$pagination-bg-color: #e7e7e9;
$pagination-hover-bg-color: #dad9dd;


//Tags
$tag-primary-bg-color:#e7efff;
$tag-danger-bg-color:#ffe7e7;
$tag-warning-bg-color: #fff5e6;
$tag-success-bg-color: #edfbf0;
//TBD
$icon-color: #ADD8E6;
$button-text-color: #87CEEB;

$transition-duration: 0.3s ;